<div class="intro text-center">
  <p class="intro-text">Lorem ipsum dolor sit amet, praesent hendrerit non nullam nec. Volutpat nam ultricies suspendisse neque iaculis in, enim faucibus dignissim nascetur, sodales risus rutrum diam adipiscing, ut eget phasellus turpis euismod aliquam, nulla odio. Sociis scelerisque arcu eleifend sed, in ipsum, sapien accumsan, duis et nam, vel turpis penatibus orci facilisis interdum. Varius class quam justo, donec amet, orci nibh sed integer hendrerit fringilla. Ac suscipit qui, ut quis vitae eu ante et lacinia, neque consectetuer aliquet imperdiet, suspendisse suspendisse nam.</p>
</div>
<div class="intro-image">
  <%=image_tag 'pic5.jpeg', class: 'image-setting'%>
</div>

<div class="intro-specific text-center">
  <%=fa_icon 'globe 4x', class: 'icon-setting'%>

  <p class="intro-text">Lorem ipsum dolor sit amet, praesent hendrerit non nullam nec. Volutpat nam ultricies suspendisse neque iaculis in, enim faucibus dignissim nascetur, sodales risus rutrum diam adipiscing, ut eget phasellus turpis euismod aliquam, nulla odio. Sociis scelerisque arcu eleifend sed, in ipsum, sapien accumsan, duis et nam, vel turpis penatibus orci facilisis interdum.Volutpat mi, blandit arcu et, suspendisse ipsum purus, vitae imperdiet eget sed est. Vitae lacus aenean felis nullam lorem. Fermentum dapibus, et vel erat leo eu wisi, fusce fusce cursus dui lectus a quis. Dis faucibus quis. Turpis nulla curabitur conubia mollis mauris quasi </p>

<div class="intro-skills-container">
  <div class="skills-header">
    <h3>Skill-1</h3>
      <ul class="skills-body">
        <li>one one one one oneoneoneoneone oneone one</li>
        <li>two</li>
        <li>three</li>
      </ul>
  </div>
  <div class="skills-header">
    <h3>Skill-2</h3>
      <ul class="skills-body">
        <li>one</li>
        <li>two</li>
        <li>three</li>
      </ul>
  </div>
  <div class="skills-header">
    <h3>Skill-3</h3>
      <ul class="skills-body">
        <li>one</li>
        <li>two</li>
        <li>three</li>
      </ul>
  </div>
</div>
</div>
