<div class="intro text-center">
  <p class="intro-text">It is all about making the right purchase with no regrets. Use our compare devices service and you will have all the information you need to make the best purchase. Let us know if you prefer to speak with a human. </p>
</div>
<div class="intro-image text-center">
  <%=image_tag 'compare.jpeg', class: 'image-setting'%>
</div>

<div class="intro-specific text-center">
  <%=fa_icon 'globe 4x', class: 'icon-setting'%>

  <p class="intro-text"> Our friendly advisers will respond to your queries asap </p>

<div class="intro-skills">
  <div class="skills-container">
    <div class="skills-header">
      <h3 class="circle-text">Expert-1</h3>
    </div>
    <div class="skills-body">
      Expert-1 is an expert in android
        Expert-1 is an expert in android
          Expert-1 is an expert in android
    </div>
  </div>
  <div class="skills-container">
    <div class="skills-header">
      <h3 class="circle-text">Expert-2</h3>
    </div>
    <div class="skills-body">
      Expert-2 is an expert in Iphone.
        Expert-2 is an expert in Iphone
          Expert-2 is an expert in Iphone
    </div>
  </div>
  <div class="skills-container">
    <div class="skills-header">
      <h3 class="circle-text">Expert-3</h3>
    </div>
    <div class="skills-body">
      Expert-3 is an expert in windowsphone
      Expert-3 is an expert in windowsphone
      Expert-3 is an expert in windowsphone
    </div>
  </div>
</div>
</div>
