#comment-update{
  border: 2px solid #3b5998;
  border-radius: 2px;
  width: 800px;
  height: 300px;
  margin: 20px auto;
  background-color: #e6f5ff;
}

label.form-text {
  margin-left :100px;
}

.form-button{
  margin-left: 430px;
  margin-top: 50px;

}
