<h5> <%= "Hey there, #{@user.username}" %> </h5>

<p> You've request to reset your password, click the URL below to reset it! </p>
<p> <%=link_to "Password Reset Link",  @url %> </p>

<p> Regards, </p>
<p> Classroom Discussions </p>
