<div id="comment-form-holder">
<div class="comment-child">
      <%=comment.body%>
        <button ><%=link_to "Edit", edit_topic_post_comment_path(topic, post, comment), remote: true %></button>
        <button ><%=link_to "Delete", topic_post_comment_path(topic, post, comment), method: :delete, data: {Confirm: "Delete?"}%></button>
</div>
</div>
