<div class="comment-container text-center">
    <h1>Comments</h1>
    <%=link_to "Back to Posts", topic_posts_path %>

    <div class="comment-parent text-center">
        <% @comments.each do |comment| %>
        <%= render partial: "comment", locals: { comment: comment, post: @post } %>

        <%end%>
    </div>

    <div class="form-container">
        <%= render partial: "form", locals: { comment: @comment, post: @post } %>
    </div>
  
</div>
