.intro-text{
 margin: 40px 200px;
 line-height: 130%;
 font-size: 20px;
}

.image-setting{
  height: 400px;
  width: 60%;
  height: 400px;
  margin: 10px 100px 50px;
}

.intro-skills{
  max-width: 100%;
  margin: 50px 150px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 180px;
}

.skills-container{
  flex: 0 0 30%;

}

.skills-header{
  width:200px;
  height:200px;
  border-radius:100px;
  font-size:10px;
  color:black;
  text-align:center;
  background:yellow;
}

.circle-text{
  padding-top: 80px;
}


.icon-settings{
  margin: 50px 0;
}

.skills-body{
  text-align: left;;
  word-wrap: break-word;
  margin: 20px 0 10px;
}
