.Form {

  .Form-Option{
    display: flex;
    flex-wrap: wrap;
    // max-width: 50%;
    margin: 50px auto;
    max-width: 300px;
  }

  .Button{
    flex: 0 0 100px;
    background-color: #99b3ff;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
    font-size: 20px;
    font-color: white;
    font-weight: bold;
    margin: 0 10px;

  }
}
