.topic-container{

  .topic-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;

  }

  .topic-child{
    flex: 0 0 300px;
    width: 300px;
    position: relative;
    border-style: solid;
    border-color: black;
  }

}
