<div class="topic text-center">
    <h1>Topics</h1>
    <%= link_to "Add New Topic", new_topic_path, class: 'btn btn-primary' %>
</div>

<div class="topic-container text-center">
    <% @topics.each do |topic| %>
    <%= render partial: "topic", locals: {topic: topic } %>
    <%end%>
</div>

<div class="paginate text-center">
    <%= paginate @topics%>
</div>
