.img-settings{
  height: 300px;
  width: 300px;
}

.preview-image{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 10px;

}

#post-create-form{
  margin: 0 auto;
  max-width: 800px;
}

#post_body_field{
  min-height: 100px;
}

.form-container{
  margin-top: 50px;
}
