
.post-parent{
  padding: 20px;
  justify-content: center;
}

.post-child-container{
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 5px;
  border: 2px solid #3b5998;
  font-family: montserrat;
  position: relative;
}

.post-button{
  text-align: bottom;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.post-image{
  height: 150px;
  width: 200px;
}

.column-big{
  flex: 3 0;
}

.column-normal{
  flex: 1 0;
}

.new-post{
  margin-right: 20px;
}

.img-settings{
  height: 300px;
  width: 300px;
  margin: 0 auto;
}

// #preview-image{
//   width: 300px;
//   margin-top: 20px;
//   margin-bottom: 50px;
//   height: 300px;
// }

.form-control{
  margin: 0 auto;
  max-width: 800px;
}

.post-create{
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #3b5998;
  border-radius: 2px;
  width: 800px;
  height: 380px;
  margin: 20px auto;
  background-color: #e6f5ff;
}

#post_image_field{
  // margin-left: 424px;
  width: 300px;
}

.form-text{
    margin-left: 0;
}

.post-title{
  font-size: 20px;
  font-weight: bold;
}

.post-body{
  font-size: 15px;
  margin-top: 10px;
}

// .input-img{
//   height: 300px;
//   width: 300px;
// }
