.topic-container{


  .topic-parent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  .topic-child{
    flex: 0 0 550px;
    padding: 10px;
    margin: 5px;
    border: 2px solid green;
  }
}  
