.topic-parent{
  justify-content: center;
  padding: 10px;
  margin: 5px;
  border: 2px solid #3b5998;
  display: flex;
  flex-wrap: wrap;
}

.topic-child{
  padding: 10px;
  margin: 5px;
  flex: 0 0 300px;
}

.new-topic{
padding: 20px;
}
