.topic-parent{
  // justify-content: center;
  padding: 10px;
  margin: 5px;
  border: 2px solid #3b5998;
  display: flex;
  flex-wrap: wrap;
}

.topic-child{


}

.new-topic{
padding: 20px;
}

.column-big{
  flex: 3 0;
}

.column-small{
  flex: 1 0;
}
