.img-settings{
  height: 300px;
  width: 300px;
}

.preview-image{
  width: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
  height: 10px;
}

.form-control{
  max-width: 600px;
  margin: 10px auto;
  height: 40px;
}

.form-group{
  margin-top: 50px;
}

.form-text{
  margin-left: 430px;
}
